$spreadareas: ("core", "crossing", "boon", "bane", "desire", "method");

.spreadgrid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "core boon desire"
    "crossing bane method";
}

@media (max-width: 600px) {
  .spreadgrid {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "core"
      "crossing"
      "boon"
      "bane"
      "desire"
      "method";
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .spreadgrid {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "core crossing"
      "boon bane"
      "desire method";
  }
}


.spreadcell {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

@each $slot in $spreadareas {
  .#{$slot} {
    grid-area: #{$slot};
  }
}
